<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-client_id" content="73238435638-ehebh00qps4cr2unhikf24hudbvplh91.apps.googleusercontent.com">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

  <title>{% block title %}{% endblock %}- Catalog App</title>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>

</head>


<body>
  <!-- <div id="fb-root"></div> -->
  {% include 'svg_defs.html.j2' %}

  <div class="header-bar bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><a href="{{url_for('displayItems')}}">Catalog App</a></h1>
        </div>
        <!-- <div class="col-xs-8 login-session-col text-right">
          {% if username in login_session %}
            Welcome, {{login_session.username}}<br />
            <a class="text-muted" href="{{url_for('gdisconnect')}}">Logout</a>
          {% else %}
            <a href="#">Login</a>
          {% endif %}
        </div> -->
      </div>

      </div>
    </div>
  </div>

  <div class="container panel panel-default">
    <div class="row panel-body">
      <div class="col-xs-12">
        <h2>Login</h2>
        <hr />

        <button class="btn btn-sm btn-primary btn-lg btn-login">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="73238435638-ehebh00qps4cr2unhikf24hudbvplh91.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          <svg class="icon icon-google-plus">
            <use xlink:href="#icon-google-plus"></use>
          </svg>
          Login with Google
          </span>
        </button>&nbsp;

        <button onclick='javascript:fb_login()' class="btn btn-sm btn-primary btn-lg btn-login">
          <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
          </svg>
          Login with Facebook
        </button>&nbsp;

        <button id="ghLogin" class="btn btn-sm btn-primary btn-lg btn-login">
          <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
          </svg>
          Login with GitHub
        </button>
      </div>
      <div id="login-result" class="col-xs-12">
      </div>
    </div>
    <div class="row panel-footer">
      <div class="col-xs-12 text-right">
        <small class="text-muted">Catalog App Login Page</small>
      </div>
    </div>
  </div>

  <p>{{dict(login_session)|tojson}}</p>


<!-- FB Script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1732132623761642',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.10' // use version 2.8
    });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function fb_login(){
      FB.login(function(response) {
        if (response.authResponse) {
            sendTokenToServer( FB.getAuthResponse()['accessToken'] ,"Facebook");
            // console.log('Welcome!  Fetching your information.... ');
            // //console.log(response); // dump complete info
            // access_token = response.authResponse.accessToken; //get access token
            // user_id = response.authResponse.userID; //get FB UID
            //
            // FB.api('/me', function(response) {
            //     user_email = response.email; //get user email
            // // you can store this data into your database
            // });
          } else {
              //user hit cancel button
              console.log('User cancelled login or did not fully authorize.');
          }
      }, {
          scope: 'public_profile,email'
      });
  }
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  // function sendTokenToServer() {
  //   console.log( FB.getAuthResponse() );
  //
  //   var access_token = FB.getAuthResponse()['accessToken'];
  //   console.log(access_token)
  //   console.log('Welcome!  Fetching your information.... ');
  //   FB.api('/me', function(response) {
  //     console.log('Successful login for: ' + response.name);
  //     console.log("FB","{{STATE}}",access_token);
  //     $.ajax({
  //       type: 'POST',
  //       url: '/fbconnect?state={{STATE}}',
  //       processData: false,
  //       data: access_token,
  //       contentType: 'application/octet-stream; charset=utf-8',
  //       success: function(result) {
  //         console.log(result);
  //         // Handle or verify the server response if necessary.
  //         if (result) {
  //           $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
  //          /*setTimeout(function() {
  //           window.location.href = "/restaurant";
  //         }, 4000);*/
  //         } else {
  //           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
  //         }
  //       }
  //     });
  //   });
  // }
</script>

<!-- Google Script -->
<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      //$('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      //console.log("Google","{{STATE}}",authResult);
      sendTokenToServer(authResult['code'], "Google");
      // $.ajax({
      //   type: 'POST',
      //   url: '/gconnect?state={{STATE}}',
      //   processData: false,
      //   data: authResult['code'],
      //   contentType: 'application/octet-stream; charset=utf-8',
      //   success: function(result) {
      //     // Handle or verify the server response if necessary.
      //     if (result) {
      //       $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
      //        setTimeout(function() {
      //         // window.location.href = "/";
      //       }, 100);
      //      } else {
      //        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      //      }
      //    }
      //  });
    } else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
    }
  }

</script>

<!-- Github Script -->
<script>
  function githubCallback(code){
      console.log("Github","{{STATE}}",code);
      sendTokenToServer(code, "Github");
      // $.ajax({
      //   type: 'POST',
      //   url: '/ghconnect?state={{STATE}}',
      //   processData: false,
      //   data: code,
      //   contentType: 'application/octet-stream; charset=utf-8',
      //   success: function(result) {
      //     console.log(result);
      // }});
  }

  $('#ghLogin').click(function () {
    w = 750;
    h = 700;
    l = (window.screen.width / 2) - ((w / 2));
    t = (window.screen.height / 2) - ((h / 2) + 50);

    console.log(window.innerWidth,window.innerHeight,window.screenX,window.screenY,l,t )
    var strWindowFeatures = "menubar=no,location=no,resizable=no,scrollbars=no,status=yes,width="+w+",height="+h+",left="+l+",top="+t;

  	window.open('https://github.com' +
  		'/login/oauth/authorize' +
  		'?client_id=e6789cd05a49a53a00b6' +
  		'&scope=user',"GithubLogin", strWindowFeatures);

  /*  $(window).on("message",function(evt){
      console.log(evt);
    })*/
  });

  function sendTokenToServer(token, account) {
    console.log(token,account);
    $.ajax({
      type: 'POST',
      url: '/acctconnect?state={{STATE}}',
      processData: false,
      data: JSON.stringify({token: token, account: account}),
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        console.log(result);
        window.location.href = "/";
      },error: function(result){
        console.log("ERROR", result.responseText);
      }
    });
  }
</script>

</body>

</html>
